*{
    margin: 0;
}
html,body{
    min-height: 100%;
    background: rgb(167,38,8);
    background: linear-gradient(231deg, rgba(167,38,8,1) 0%, rgba(167,38,8,1) 29%, rgba(221,226,198,1) 100%);
}   
.container{
    background-color: #090c02;
    margin-top: 2rem;
    width: 100%;
    height: 55px;
    font-family: impact, fantasy;
    color: #A72608;
    font-size: 2.5em;
    display: flex;
    justify-content: space-between;
}
.material-symbols-outlined{
    font-size: 20px;
    color: #E6EED6;
    padding: 0 20px;
}
.bar{
    background-color: #090c02;
    color: #E6EED6;
    border: none;
    padding: 0 20px;
    
}
li{
    list-style-type: none;
}
ul{
    display: flex;
}
#search{
    padding-top: 7px;
    margin:0;
}
.flights{
    width: 750px;
    min-width: 500px;
    height: 250px;
    background-color:#E6EED6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgba(49, 52, 66, 10%);
}

.book{
    margin-top: 50px;
    padding: 30px 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}

.date{
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.book, .date{
    align-items: center;
}

#search1{
    font-size: 20px;
    text-align: center;
    margin-left: 300px;
    margin-top: 15px;
    background-color: rgb(103,197,91);
    color: white;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 150px; 
}

#icon{
    padding-left: 20px;
}

.inp{
    border-radius: 10px;
    border: solid black 0.5px;
    height: 25px;
    width: 150px;
}

#menu:hover, #login:hover{
    color: #A72608;
}

#search1:hover{
    background-color: rgba(0,0,0, 89%);
}